@import url('./main.css');


.cargoCard{
    display: flex;
    padding: 2rem;
    flex-direction: column;
    gap: 5px;
    border-radius: 1rem;
    border: 2px solid var(--white);
    background: var(--black-bg);
    width: 18.3125rem;
    height: 20rem;
    margin: 0 auto;
}
.cargoCard__progress{
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
}
.cargoCard__progress>label{
    font-size: 1rem;
    margin: 0;
    padding: 0;
}
.cargoCard__progress>progress{
    width: 100%;
}

.cargoCard__progress>progress::-webkit-progress-bar,
.cargoCard__progress>progress::-webkit-progress-value,
.cargoCard__progress>progress::-moz-progress-bar,
.cargoCard__progress>progress[value]
{
    background-color: var(--blue);
}

.cargoCard__column, .fuelCard__column{
    width: 80%;
}
.cargoCard__list{
    width: 100%;
    height: 180px;
    overflow-y: overlay; 
}
.cargoCard__list>div{
    display: flex;
    justify-content: space-between;
}
.cargoCard__title{
    font-size: 2.6rem;
    font-family: var(--highlight-font);
}