@import url('./main.css');
@import url('./main.css');


.fuel__card{
    display: flex;
    padding: 2rem;
    flex-direction: column;
    gap: 5px;
    border-radius: 1rem;
    border: 2px solid var(--white);
    background: var(--black-bg);
    width: 18.3125rem;
    height: 20rem;
    margin: 0 auto;
}
.fuel__progress{
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
}
.fuel__progress>label{
    font-size: 1rem;
    margin: 0;
    padding: 0;
}
.fuel__progress>progress{
    width: 100%;
}

.fuel__progress>progress::-webkit-progress-bar,
.fuel__progress>progress::-webkit-progress-value,
.fuel__progress>progress::-moz-progress-bar,
.fuel__progress>progress[value]
{
    background-color: var(--blue);
}

.fuel__title{
    font-size: 2.6rem;
    font-family: var(--highlight-font);
}
.refuel{
    position: relative;
}

.refuel__tooltip{
    position: absolute;
    bottom: -55%;
    left: 20%;
    transform: translate(-50%);
    font-size: 0.875rem;
    background: var(--black);
    color: var(--black);
    opacity: 0;
    padding: 0.3125rem 0.5rem;
    border-radius: 0.3125rem;
    box-shadow: 0 0.625rem 0.625rem rgba(0, 0, 0, 0.1);
    width: max-content;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.refuel__tooltip::before {
    position: absolute;
    content: "";
    height: 0.5rem;
    width: 0.5rem;
    background: var(--white);
    top: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    z-index: 999;
}

.refuel:hover .refuel__tooltip{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    z-index: 999;
    background: var(--white);
    color: var(--black);
}
