@import url('./main.css');
@import url('./main.css');


.fuel__card{
    display: flex;
    padding: 2rem;
    flex-direction: column;
    gap: 5px;
    border-radius: 1rem;
    border: 2px solid var(--white);
    background: var(--black-bg);
    width: 18.3125rem;
    height: 20rem;
    margin: 0 auto;
}
.fuel__progress{
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
}
.fuel__progress>label{
    font-size: 1rem;
    margin: 0;
    padding: 0;
}
.fuel__progress>progress{
    width: 100%;
}

.fuel__progress>progress::-webkit-progress-bar,
.fuel__progress>progress::-webkit-progress-value,
.fuel__progress>progress::-moz-progress-bar,
.fuel__progress>progress[value]
{
    background-color: var(--blue);
}

.fuel__title{
    font-size: 2.6rem;
    font-family: var(--highlight-font);
}