@import url('./main.css');

nav{
    position: fixed;
    z-index: 999;
    display: flex;
    width: 95%;
    padding: 1rem 2rem;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7rem;
    width: 90%;
}

.navbar__item{

}

.navbar__link{

}

.navbar__img{
    
}

.navbar__user{
    position: relative;
}

 /* 
    Tooltip to display money
 */

.tooltip{
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.875rem;
    background: var(--black);
    color: var(--black);
    padding: 0.3125rem 0.5rem;
    border-radius: 0.3125rem;
    box-shadow: 0 0.625rem 0.625rem rgba(0, 0, 0, 0.1);
    opacity: 0;
    width: max-content;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);

}

.tooltip::before {
    position: absolute;
    content: "";
    height: 0.5rem;
    width: 0.5rem;
    background: var(--white);
    top: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    z-index: 999;
}

.navbar__user:hover .tooltip{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    z-index: 999;
    background: var(--white);
    color: var(--black);
}