@import url('./main.css');


.market, .shipyard{
    display: flex;
    justify-content: stretch;
    gap: 5rem;
}

.marketList, .shipyardList{
    justify-content: space-between;
    height: 25rem;
    margin-top: 2rem;
    overflow-y: overlay;
    width: 100%;
    overflow-x: clip;
    border-radius: 1rem;
    border: 1px solid var(--white);
    padding-left: 2rem;
    padding-right: 2rem;
}

.shipyardList{
    display: flex;
    height: fit-content;
    width:max-content;
    overflow-x: overlay;
    overflow-y: clip;
    gap: 1rem;
    padding-bottom: 1rem;
}

.marketList::-webkit-scrollbar, .shipyardList::-webkit-scrollbar {
    width: 0.4rem;
    border-radius: 1rem;
    margin-right: 1rem;
    background-color: var(--blueish-grey);
}

.shipyardList::-webkit-scrollbar{
    height: 0.4rem;
}

.marketList::-webkit-scrollbar-thumb, .shipyardList::-webkit-scrollbar-thumb {
    background: var(--black);
}

.marketList__item, .shipyardList__item{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background: var(--black-bg);
    border: 2px solid var(--white);
    margin: 3rem 0;
    border-radius: 1rem;
    gap: 1rem;
    width: 80%;
}

.shipyardList__item{
    width: 50rem;
    height: fit-content;
    padding: 2rem;
}

.good__name{

}

.good__price{
    display: flex;
    gap: 2rem;
}

.good__buy, .shipyard__ship__buy, .good__sell{
    display: flex;
    align-items: center;
}

.shipyard__ship__title{
    font-size: 1.8rem;
    padding: 1rem 0 0.5rem;
}

.shipyard__ship__description{
    padding-bottom: 1rem;
}

.good__icon, .shipyard__ship__icon{
    height: 2.5rem;
    padding-right: 0.5rem;
    flex-wrap: wrap;
}

.shipyard__ship__moneyIcon{
    padding-left: 0.5rem;
}

/*
    goodModal
*/

.goodModal{
    background: var(--black-bg);
    border-radius: 1rem;
    border: 2px solid var(--white);
    width: 50%;
    margin: 3rem 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.goodModal__title{
    padding: 2rem 0 3rem 2rem 2rem;
}

.goodModal__input{
    padding: 0.5rem 1rem 0.5rem 2rem;
    border-radius: 8px;
    border: 2px solid var(--white);
    background: #23262D;
    color: var(--blueish-grey);
    font-family: var(--font);
    font-size: 24px;
    -moz-appearance: textfield;
    appearance: textfield;
    position: relative;
}

.goodModal__btns{
    display: flex;
    padding: 2rem;
    justify-content: space-between;
}

/*#region goodModal input type number arrows*/
/* .goodModal__input::-webkit-inner-spin-button,
.goodModal__input::-webkit-outer-spin-button {
  margin: 0;
}

.goodModal__input::before,
.goodModal__input::after {
  content: '\2B9F';
  height: 1.2rem;
  width: 1.2rem;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  z-index: 9999999;
  background-color: red;
}

.goodModal__input::after {
  content: '25BC'; 
  left: 0;
}
 */
/* #endregion */