@import url('./main.css');


.nav__content{
    margin-bottom: 10rem;
}

.nav{
    padding: 4rem 3rem 3rem 4rem;
    margin: 5rem auto;
    width: 80vw;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    border: 2px solid var(--white);
}

.nav__idColumn{
    width: 100%;
    justify-content: space-between;
}

.nav__idColumn__firstRow{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 0 ;
}

.nav__idColumn__name{
    display: flex;
    align-items: center;
}

.nav__id{
    font-size: 1.8rem;
}

.navStatus{
    border-radius: 1rem;
    padding: 1rem;
    font-size: 1.2rem;
    width: fit-content;
    height: fit-content;
    border: 2px solid var(--blueish-grey);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.navStatus__button{
    font-size: 1rem;
}

.shipInfos{
    
}

.shipInfos__stuff{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 2rem 0;    
}

.shipInfos__fm
{
    margin: 1.5rem 0;
    background: var(--black-bg);
    border-radius: 1rem;
    border: 2px solid var(--white);
    padding: 2rem 6rem;
    gap: 5rem;
}

.shipInfos__fm__txtCurrent{
    padding-top: 2rem;
    font-size: 1.3rem;
}
.shipInfos__fm__txtChange{
    font-size: 1.3rem;
    padding: 2rem 0 3rem 0;
}

.shipInfos__fm__btns{
    display: flex;
    justify-content: space-between;
}

/*
    display wp infos 
*/

.nav__btns{
    display: flex;
    justify-content: space-between;
    padding-bottom: 3rem;
}

.nav__txt{
    padding-bottom: 3rem;
}

/*
    icons
*/

.good__icon{
    color: var(--white);
}